<!-- Section Footer -->

<footer class="footer">
  <div class="container">
    <div class="logo-container">
      <a href="../index.html">
        <svg class="footer-logo-svg">
          <use
            href="./img/footer/logo-footer.svg"
            width="229"
            height="98"
          ></use>
        </svg>
      </a>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="#furniture" class="footer-nav-link">Наші меблі</a></li>
        <li><a href="#about-us" class="footer-nav-link">Про нас</a></li>
        <li>
          <a href="#faq_section" class="footer-nav-link">Часті питання</a>
        </li>
        <li><a href="#feedback-section" class="footer-nav-link">Відгуки</a></li>
      </ul>
    </nav>
    <ul class="footer-social-list">
      <li>
        <a
          class="footer-social-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer-socia-icon">
            <use href="./img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer-social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="instagram footer-socia-icon">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer-social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer-socia-icon">
            <use href="./img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="copyright-container">
      <p class="copyright">© 2025 Relume. Всі права захищені.</p>
    </div>
  </div>
</footer>
