<section class="furniture-section" id="furniture">
  <div class="container">
      <h2 class="furniture-title">Наші меблі</h2>
      <p class="furniture-subtitle">Знайдіть ідеальні рішення для вашого інтер'єру</p>
      <ul class="categories-filter">

      </ul>
 
      <ul class="furniture-list">

      </ul>

      <button class="load-more-btn">Показати ще</button>
    <div class="loader hidden" id="loader">
        <span class="loader-circle">
        </span>
      </div>
    </div>
    </section>

