<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Меблевий магазин</title>
    <link rel="stylesheet" href="../js/furniture_details_modal.js" />
  </head>
  <body>
    <!-- Модальне вікно -->
    <div class="modal-overlay hidden" id="modal">
      <div class="modal-content">
        <button class="close-btn" id="modalCloseBtn">х</button>

        <div class="image-gallery">
          <img src="" alt="" class="main-image" />
          <div class="thumbs"></div>
        </div>

        <div class="modal-details">
          <h2 class="model-name"></h2>
          <p class="category"></p>
          <p class="price"></p>
          <div class="rating"></div>

          <div class="colors">Колір</div>
          <div class="label-input">
            <div id="color-filters"></div>
          </div>

          <p class="description"></p>
          <p class="dimensions"></p>

          <button class="order-btn" id="orderBtn">Перейти до замовлення</button>
        </div>
      </div>
    </div>
    <script src="../js/furniture_details_modal.js"></script>
  </body>
</html>
