<div class="modal-overlay is-hidden" id="modal">
  <div class="modal-content">
    <button class="close-btn">×</button>

    <div class="image-gallery">
      <img src="" alt="" class="main-image" />
      <div class="thumbs"></div>
    </div>

    <div class="modal-details">
      <h2 class="model-name"></h2>
      <p class="category"></p>
      <p class="modal-price"></p>
      <div class="modal-rating"></div>

      <div class="colors">Колір</div>
      <div class="label-input">
        <div id="color-filters"></div>
      </div>

      <p class="description"></p>
      <p class="dimensions"></p>

      <button class="order-btn">Перейти до замовлення</button>
    </div>
  </div>
</div>
