<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Меблерія</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <a href="#" class="logo">
          <img src="/img/Company Logo.png" alt="Logo" />
        </a>
        <nav class="nav-desktop">
          <a href="#team">Наша команда</a>
          <a href="#about">Про нас</a>
          <a href="#faq">Часті питання</a>
          <a href="#reviews">Відгуки</a>
        </nav>
        <button class="shopping-btn" id="scrollBtn">До покупок</button>
        <button class="burger-btn" aria-label="Відкрити меню">☰</button>
      </div>
    </header>

    <div class="burger-menu hidden" id="burgerMenu">
      <div class="form-container">
        <button class="close-btn" aria-label="Закрити меню">×</button>
        <nav class="nav-mobile">
          <a href="#team">Наші меблі</a>
          <a href="#about">Про нас</a>
          <a href="#faq">Часті питання</a>
          <a href="#reviews">Відгуки</a>
        </nav>
        <button class="join-btn">Долучитися</button>
      </div>
    </div>

    <script type="module" src="header.js"></script>
  </body>
</html>
