<div class="section-header">
  <header class="header">
    <div class="container">
      <div class="header__container">
        <a href="/index.html" class="logo">
          <svg class="header-logo-svg">
            <use
              href="/img/heder/logo_navbars.svg"
              width="163px"
              height="69px"
            ></use>
          </svg>
        </a>
        <div class="text-header">
          <nav class="nav-desktop">
            <a href="#furniture">Наші меблі</a>
            <a href="#about-us">Про нас</a>
            <a href="#faq_section">Часті питання</a>
            <a href="#feedback-section">Відгуки</a>
          </nav>
          <button class="shopping-btn" id="scrollBtn">До покупок</button>
          <button class="burger-btn" aria-label="Відкрити меню">☰</button>
        </div>
      </div>

      <div class="burger-menu hidden" id="burgerMenu">
        <div class="form-container">
          <div class="logo-mobile">
            <div class="header__container">
              <div class="nav-logo-mobile">
                <a href="/index.html" class="logo">
                  <svg class="header-logo-svg">
                    <use
                      href="/img/heder/logo_navbars.svg"
                      width="163px"
                      height="69px"
                    ></use>
                  </svg>
                </a>
              </div>
              <button class="nav-close-btn" aria-label="Закрити меню">×</button>
            </div>
          </div>
          <nav class="nav-mobile">
            <a href="#furniture">Наші меблі</a>
            <a href="#about-us">Про нас</a>
            <a href="#faq_section">Часті питання</a>
            <a href="#feedback-section">Відгуки</a>
          </nav>
          <button class="shopping-btn-mobile" id="scrollBtnMob">
            До покупок
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
